KERNEL="visdn*d", BUS="visdn", SYSFS{host_bus} = "pci", SYSFS{host_bus_id}="0000:00:07.0", NAME="visdn0"
KERNEL="visdn*d", BUS="visdn", SYSFS{host_bus} = "pci", SYSFS{host_bus_id}="0000:00:09.0", SYSFS{port_name}="st0", NAME="visdn1.0"
KERNEL="visdn*d", BUS="visdn", SYSFS{host_bus} = "pci", SYSFS{host_bus_id}="0000:00:09.0", SYSFS{port_name}="st1", NAME="visdn1.1"
KERNEL="visdn*d", BUS="visdn", SYSFS{host_bus} = "pci", SYSFS{host_bus_id}="0000:00:09.0", SYSFS{port_name}="st2", NAME="visdn1.2"
KERNEL="visdn*d", BUS="visdn", SYSFS{host_bus} = "pci", SYSFS{host_bus_id}="0000:00:09.0", SYSFS{port_name}="st3", NAME="visdn1.3"

KERNEL="visdn*d", BUS="usb", ID="2-2:1.1", NAME="visdn1"

KERNEL="*", SUBSYSTEM="visdn", NAME="visdn/%k"
KERNEL="*", SUBSYSTEM="visdn_timer", NAME="visdn/timers/%k", SYMLINK="visdn/timer"
KERNEL="*", SUBSYSTEM="visdn_softport", NAME="visdn/softport"
