;
; These are some example entries to be put in extensions.conf
; to enable dialin/dialout through vISDN interfaces.

;------------------------
; Simple dialout through interface visdn1.0:

exten => _.,1,Dial(VISDN/visdn1.0/${EXTEN})

;------------------------
; Dialout with a macro, the hint allows vISDN to know in advance what
; interface is going to be used and decide if passthru-overlap dialing will
; be supported. Huntgroups are supported but their overlap_sending
; configuration should be the same on all the interfaces.

exten => _.,1,Macro(telcobri_out|${EXTEN})
exten => _.,hint,VISDN/visdn1.0

[macro-telcobri_out]
exten => s,1,SetCallerID(12345000)	; Set the MSN to be used
exten => s,2,Dial(VISDN/visdn1.0/${ARG1})

;------------------------
; Dialin PPP extension

exten => 229,1,visdnPPP(172.16.0.1:172.16.0.2)

;------------------------
; Inbound contexts (referenced in visdn.conf):
;

[visdn1_0_in]
include => local
exten => s,1,VISDNOverlapDial()		; Needed for overlap sending/receiving

[visdn1_1_in]
include => default
exten => s,1,VISDNOverlapDial()		; Needed for overlap sending/receiving

[visdn1_3_in]
exten => 12345000,1,Dial(SIP/100)	; One entry for each MSN
exten => 12345001,1,Dial(SIP/200)	; 
