
; These are some example entries to be put in extensions.conf
; to enable dialin/dialout through vISDN interfaces.

;------------------------
; Simple dialout through interface visdn1.0:

exten => _.,1,Dial(VISDN/visdn1.0/${EXTEN})

;------------------------
; Dialout with a macro:

exten => _.,1,Macro(telcobri_out|${EXTEN})

[macro-telcobri_out]
exten => s,1,SetCallerID(12345000)	; Set the MSN to be used
exten => s,2,Dial(VISDN/visdn1.0/${ARG1})
exten => s,3,Congestion
exten => s,103,Busy

;------------------------
; Dialin PPP extension

exten => 229,1,visdnPPP(172.16.0.1:172.16.0.2)

;------------------------
; Inbound contexts (referenced in visdn.conf):
;

[visdn1_0_in]
include => local
exten => s,1,VISDNOverlapDial()		; Needed in NT mode

[visdn1_1_in]
include => default
exten => s,1,VISDNOverlapDial()		; Needed in NT mode

[visdn1_3_in]
exten => 12345000,1,Dial(SIP/100)	; One entry for each MSN
exten => 12345001,1,Dial(SIP/200)	; 
