;
; vISDN configuration file for Asterisk's visdn_chan channel driver
;
; The [general] section is reserved for parameters which are driver-wide
;
; The [global] section contains parameters definition which is applied by
; default to all the interfaces but may be overridden in interface-specific
; sections.
;
; All the other sections should be named with the vISDN interface names defined
; in /etc/visdn/device-* configuration files.
; If a section does not correspond to a real, live, interface it will be
; read anyway but its status will be marked as "UNUSED" in
; "show visdn interfaces" output, ready for when the interface comes up.
;
; Here follow the configuration directives available in [global] and
; interface-specific sections. "role" indicates for which interface role
; the directive is meaningful.
;
; network_role = private
;		(user | private | local | transit | international)
;	The role of the interface in the ISDN network. Normally you would use
;	"private" to indicate a private branch. If you ever want to be seen as
;	the public operator you should use "local". "transit" and
;	"international" are mostly unused.
;	## role: network, user
;
; outbound_called_ton = unknown
;		(unknown | international | national | network_specific |
;		subscriber | abbreviated)
; 	Type of number used for called numbers (outbound calls)
;	## role: network, user
;
; force_outbound_cli = ""
;	If set, forces the outbound CLI number to the one specified. See also
;	force_cli_type_of_number to set the corresponding ton, otherwise the
;	one transported by Asterisk is used.
;	## role: network, user
;
; force_outbound_cli_ton = no
;		(no | unknown | international | national | network_specific |
;		subscriber | abbreviated)
; 	Type of number used for caller id. Some network require you to use a
;	specific type of network to correctly accept the caller_id.
;	## role: network, user
;
; overlap_sending = Yes
;	Enables/disables overlap dialing. Disabiling overlap dialing means
;	that the called party number in the SETUP message is considered
;	complete. If existant it will be connected, otherwise the call will
;	be rejected. Note that "sending" means that the user is sending digits.
;	## role: network, user
;
; overlap_receiving = No
;	Enables/disables overlap receiving on the interface. Overlap receiving
;	is used to implement DID thru PBXs.
;	## role: network, user
;
; context = visdn
;	Context for incoming calls
;	## role: network, user
;
; clip_enabled = Yes
;	Enabled Calling Line Identification Presentation service.
;	## role: network
;	
; clip_override = No
;	Override Calling Line Presentation Restriction and always present
;	the CLI.
;	## role: network
;	
; clip_default_name = ""
;	Name applied to CLIP information coming from the network
;	Default:
;	## role: network
;
; clip_default_number = ""
;	When the user doesn't specify the calling line identification or
;	specifies an invalid number, this CLI is taken.
;	## role: network
;
; clip_numbers =
;	Comma-separated list of numbers that will pass network screening.
;	Usual asterisk-style matching is supported. NOTE: clip_numbers should
;	contain clip_default_number.
;	## role: network
;
; clip_special_arrangement = No
;	Only meaningful in network mode. The user-specified CLI is passed
;	thru the network as user-provided, not-screened.
;	## role: network
;
; clir_mode = default_off
;		(off, default_on, default_off, on)
;	Calling Line Identification Restriction service applied by the
;	network on incoming calls. Available modes:
;
;	"off"		: Restriction is never applied
;	"default_on"	: Restriction is specified by the user, otherwise On
;	"default_off"	: Restriction is specified by the user, otherwise Off
;	"on"		: Restriction is always applied
;
;	## role: network
;
; cli_rewriting = no
;	Change the type of number of incoming CLI to unknown and rewrite
;	the number adding the corresponding prefix specified below.
;	## role: network, user
;
; national_prefix = ""
;	Prefix to prepend when rewriting numbers of type "national"
;	## role: network, user
;
; international_prefix = ""
;	Prefix to prepend when rewrtiting numbers of type "international"
;	## role: network, user
;
; network_specific_prefix = ""
;	Prefix to prepend when rewrtiting numbers of type "network_specific"
;	## role: network, user
;
; subscriber_prefix = ""
;	Prefix to prepend when rewrtiting numbers of type "subscriber"
;	## role: network, user
;
; abbreviated_prefix = ""
;	Prefix to prepend when rewrtiting numbers of type "abbreviated"
;	## role: network, user
;
; tones_option = Yes
;	Enables tones generation for terminals (most of them) which do not
;	generate tones by theirselves.
;	## role: network
;
; autorelease_dlc = 10
;	Release the DLC after the specified timeout (in seconds).
;	A value of '0' disables the autorelease mechanism.
;	## role: network, user
;
; T301 => T322
;	Configure Layer3/CCB timers. For a description of the timers meaning
;	refer to ETS 300 102 Table 9.1 and successive modifications.
;	Avoid to modify them if you don't know what you're doing.
;	## role: timer dependent
;

[general]

[global]
network_role = private
tones_option = yes
outbound_called_ton = unknown
force_outbound_cli = no
force_outbound_cli_ton = no
clir_mode = default_off
cli_rewriting = No
national_prefix = 0
international_prefix = 00
network_specific_prefix =
subscriber_prefix =
abbreviated_prefix =
overlap_sending = Yes
overlap_receiving = No
autorelease_dlc = 10

[huntgroup:telco]
mode = sequential

[visdn0]
network_role = private
context = visdn0_in
tones_option = yes
outbound_called_ton = unknown
force_outbound_cli = no
force_outbound_cli_ton = no
clip_default_name = vISDN
clip_default_number = 300
clip_numbers = 300
clir_mode = default_off
overlap_sending = Yes
overlap_receiving = No

[visdn1.0]
network_role = private
context = visdn1_0_in
tones_option = yes
outbound_called_ton = unknown
force_outbound_cli = no
force_outbound_cli_ton = no
clip_default_name = QuadBRI Port 0 
clip_default_number = 200
clip_numbers = 200
clir_mode = default_off
overlap_sending = Yes
overlap_receiving = No
hunt_member_of = telco
hunt_channels = all

[visdn1.1]
network_role = private
context = visdn1_1_in
tones_option = yes
outbound_called_ton = unknown
force_outbound_cli = no
force_outbound_cli_ton = no
clir_mode = default_off
clip_default_name = QuadBRI Port 1
clip_default_number = 201
clip_numbers = 201
overlap_sending = Yes
overlap_receiving = No
hunt_member_of = telco
hunt_channels = all

[visdn1.2]
network_role = private
context = visdn1_2_in
tones_option = yes
outbound_called_ton = unknown
force_outbound_cli = no
force_outbound_cli_ton = no
clir_mode = default_off
clip_default_name = QuadBRI Port 2
clip_default_number = 202
clip_numbers = _20X
overlap_sending = Yes
overlap_receiving = No

[visdn1.3]
network_role = private
context = visdn1_3_in
tones_option = yes
outbound_called_ton = unknown
force_outbound_cli = no
force_outbound_cli_ton = no
clir_mode = default_off
clip_default_name = QuadBRI Port 3
clip_default_number = 203
clip_numbers = _20[3456]
overlap_sending = Yes
overlap_receiving = No
